.resumo {

    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}
p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
}
.img-fluid:hover {
  transform: scale(1.2);
  transition: all 0.2s ease-in-out;
  box-shadow: #000 4px 4px 4px;
}

ul {
    list-style: none;
  }

  /* Adiciona uma fonte diferente */
  body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  /* Muda a cor de fundo da página */
  body {
      background-color: #f2f2f2;
  }

  /* Adiciona um menu de navegação */
  nav {
      background-color: #222;
      color: #fff;
      padding: 10px;
  }

  nav a {
      color: #fff;
      text-decoration: none;
      margin-right: 20px;
  }

  nav a:hover {
      text-decoration: underline;
  }

  /* Adiciona um título em destaque */
  h1 {
      color: #222;
      font-size: 3rem;
      text-align: center;
      margin-top: 50px;
  }



  /* Adiciona uma sombra na caixa de resumo */
  .resumo {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      padding: 20px;
  }

  /* Adiciona margens nas seções de conteúdo */
.conteudo {
margin-top: 30px;
margin-bottom: 30px;
}
/* Estilo para as imagens do conteúdo */
.conteudo img {
  max-width: 100%;
  height: auto;
}

/* Adiciona uma borda nas imagens dentro de links */
.conteudo a img {
  border: 2px solid #ddd;
}

/* Estilização do cabeçalho */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

/* Estilização do título do cabeçalho */
header h1 {
  margin: 0;
}

/* Estilização dos links do cabeçalho */
header a {
  color: #fff;
  text-decoration: none;
}

/* Estilização do rodapé */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Estilização dos links do rodapé */
footer a {
  color: #fff;
  text-decoration: none;
}

/* Estilo para o botão */
.botao {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

/* Estilo para o botão quando passa o mouse por cima */
.botao:hover {
  background-color: #555;
}

/* Estilo para a tabela */
table {
  border-collapse: collapse;
  width: 100%;
}

/* Estilo para as células da tabela */
td, th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

/* Estilo para as células da tabela quando o mouse passa por cima */
tr:hover {
  background-color: #ddd;
}


.imagem {
width: 100%; /* definindo a largura da imagem como 100% */
height: 35em; /* definindo a altura da imagem como 500px */
object-fit: fill; /* para preencher a área da imagem e manter sua proporção de aspecto */
}
.melhorLeitura{
color: #ffe600;text-shadow: 2px 2px 2px #000;font-weight: bolder;
}

.desaparece {
display: none;
}

.aparece{
display: none;
}

#myModal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  border: solid black 1px;
  padding: 50px;
  box-shadow: 2px 2px 2px black;
}
.tamanhoFluido h2 {
  font-size: 22px;
  color:blue;
}
#myModal .centro #fecha {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background-color: #f44336;
  color: #fff;
  padding: 2px 5px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
#frase{
  margin-top: 15%;
}
.fade-out {
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(15, 15, 15, 0.8) 30%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 80%);
    animation: aging 20s linear forwards infinite;

}

@keyframes aging {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.desaparece {
display: none;
}

.aparece{
display: none;
}
